<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Track</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h2>Add a Track:</h2>
    <form th:action="@{/addTrack}" method="post">
        <input type="text" id="name" placeholder="Name" th:name="name"/>
        <input type="text" id="album" placeholder="Album" th:name="album"/>
        <input type="text" id="length" placeholder="Length" th:name="length"/>
        <br><br>
        <div class="form-select-button" th:each="artist : ${artists}">
            <input type="checkbox" name="artistIdList" th:value="${artist.id}"/>
            <label th:text="${artist.name}"></label>
        </div>
        <br><br>
        <input type="submit" value="Add Track"/>
    </form>
</body>
</html>